/* Help - /map.hml */

#help {
    height: 99.2%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "help-content";
}

#help-content {
    grid-area: help-content;
    margin-top: 11.5px;
    display: grid;
    grid-template-areas:
    "help-nav"
    "help-active";
}

#help-active {
    grid-area: help-active;
    width: 700px;
    margin: 0 auto 50px auto;
    overflow: auto;
    max-height: 83.5vh;
}

#help-nav {
    border: 2px solid rgb(29, 29, 92);
    background-color: white;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-block-end: 0.75em;
    padding-inline-start: 0.625em;
    padding-inline-end: 0.625em;
}

#help-nav {
    display: grid;
    padding: 0;
    margin: auto auto 8px auto;
    width: -moz-min-content;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:
    "help-getting-started help-examples help-documentation help-contact";
}

#help-getting-started {
    grid-area: help-getting-started;
}

#help-documentation {
    grid-area: help-documentation;
}

#help-contact {
    grid-area: help-contact;
}


.help-nav-button {
    display: inline-block;
    font-weight: 600;
    line-height: 40px;
    color: #1d1d5c;
    padding: 0 25px;
    white-space: nowrap;
    background-color: white;
    text-decoration: none;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    line-height: 3em;
}

#help-contact {
    grid-area: help-contact;
}

.help-nav-button:hover, .help-nav-button.active {
    color: #fff;
    background-color: #1d1d5c;
}

p.first-step {
    font-family: Times New Roman;
    padding: 12px 12px;

}

p.first-step span {
    margin-top: 8px;
    display: inline-flex;
}

p.first-step span i {
    margin-right: 20px;
}
