<div id="help" class="hidden">
  <div id="help-content">
    <div id="help-nav">
      <span id="help-getting-started" class="help-nav-button active">Getting Started</span>
      <span id="help-contact" class="help-nav-button">Contact</span>
      <span id="help-examples" class="help-nav-button">Examples</span>
      <span id="help-documentation" class="help-nav-button">Documentation</span>
    </div>
    <div id="help-active">
      <fieldset id="help-getting-started-content">
	<p class="first-step"><b>1.</b> Click the <b>Options</b> tab in the navigation bar, at the top of this page</p>
	<p class="first-step"><b>2.</b> In the top left-hand corner of the <b>Options</b> page is the <b>Specificty</b> box. Choose
	  what type of place you want to search for, from the dropdown in this box
	<span><i>Ex.</i> If you would like to find out how many fire stations are in each state, you would
	  pick "States"</span></p>
	<p class="first-step"><b>3.</b> Below the <b>Specificty</b> box is the <b>Areas</b> box. Click each check-box next to the states you would like to include in your search
	<span><i>Ex.</i> If you woud like to search for how many fire stations are in "Alaska," "Florida," and "Hawaii," you would click the checkboxes next to those states</span></p>
	<p class="first-step"><b>4.0</b> To the right of the <b>Areas</b> box is the <b>Info</b> box. If you chose "States" under the "Specificty" box, it should say <b>State Info</b>. In this box, there are different categories of information
	<span><i>Ex.</i> Government-related information, like number of "Fire Stations," is under the "Government" category</span></p>
	<p class="first-step"><b>4.1</b> In each category are individual options for information. Each option has a dropdown menu to the right of it where you can decide what characteristics to include
	  <span><i>Ex.</i> If you would like to find how out many fire stations are in your specific states, you would go under the "Government" category. Then, you would find "Fire Stations" and select "Greater Than" in its dropdown box</span></p>
	<p class="first-step"><b>4.2</b> After you choose a specific characteristic, another box will appear to the right of the option. In this box, you can narrow down your chosen characteristic to within your chosen number range
	  <span><i>Ex.</i> If you would like to find only places with 100 or more fire stations, you would go to the "Fire Stations" characteristic, choose "Greater Than" from the dropdown to the right of it, and then type "100" in the new box that appears</span></p>
	<p class="first-step"><b>5.</b> Once you've chosen all of your options, you can hit submit in the top right-hand corner of the <b>Options</b> page, to be taken to the <b>Results</b> page to view your results</p>
      </fieldset>
    </div>
  </div>
</div>
