/* Global Footer */
footer {
    margin-top: 5vh;
    height: 60px;
    display: grid;
    align-self: end;
    background: #d7eafe;
    align-content: end;
    grid-template-rows: 40px 20px;
    grid-template-columns: 20px 1fr 20px;
    grid-template-areas:
    ". . ."
    ". copyright .";
}

.copyright {
    font-size: 14px;
    color: #cfd7df;
    justify-self: center;
    text-align: center;
    grid-area: copyright;
}

.copyright > a {
    text-decoration: none;
    color: #6B7C93;
}

.copyright > a:hover {
    color: #39424e;
}
/* End Footer */
