{% load i18n %}
{% load crispy_forms_tags %}


<div id="account" class="hidden">
  <div id="account-content">
    <div id="extraneous-navigation" class="account-option">
      <a id="extraneous-home" class="extraneous-button regular-button" href="{% url 'home' %}">Home</a>
      <div id="extraneous-logo-container">
	<img src="/static/images/logo.svg" class="extraneous-logo">
	<span class="extraneous-button regular-button non-hover-button">Magi Maps</span>
      </div>
      <a id="extraneous-logout" class="extraneous-button regular-button important-button" href="{% url 'account_logout' %}">Logout</a>
    </div>
    <fieldset id="change-password" class="account-option">
	<legend>{% trans "Change Password" %}</legend>
	<form class="account-form" id="change_password_form" method="post" action="{% url 'account_change_password' %}">
	  {% csrf_token %}
	  {{ form.as_p }}
	  {% if redirect_field_value %}
	  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	  {% endif %}
	  <button class="regular-button" type="submit">{% trans "Change Password" %} &raquo;</button>
	</form>
      </fieldset>
      
      <fieldset id="change-email" class="account-option">
	<legend>{% trans "E-mail Addresses" %}</legend>
	
	{% if user.emailaddress_set.all %}
	<p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>
	
	<form action="{% url 'account_email' %}" class="account-form" method="post">
	  {% csrf_token %}
	  <fieldset class="blockLabels">
	
	    {% for emailaddress in user.emailaddress_set.all %}
	    <div class="radio">
	      <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">
		
		<input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>
		
		{{ emailaddress.email }}
		{% if emailaddress.verified %}
		<span class="verified">{% trans "Verified" %}</span>
		{% else %}
		<span class="unverified">{% trans "Unverified" %}</span>
		{% endif %}
		{% if emailaddress.primary %}<span class="primary">{% trans "Primary" %}</span>{% endif %}
	      </label>
	    </div>
	    {% endfor %}
	    
	    <div class="form-group">
	      <button class="regular-button secondaryAction btn btn-primary" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
	      <button class="regular-button secondaryAction btn btn-primary" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
	      <button class="regular-button primaryAction btn btn-primary" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
	    </div>
	    
	  </fieldset>
	</form>
    
	{% else %}
	<p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>
	
	{% endif %}
      </fieldset>  
      <fieldset id="add-email" class="account-option">
	<legend>{% trans "Add E-mail Address" %}</legend>
    
	<form method="post" action="{% url 'account_email' %}" class="account-form">
	  {% csrf_token %}
	  {{ addemailform|crispy }}
	  <button class="regular-button btn btn-primary" name="action_add" type="submit">{% trans "Add E-mail" %}</button>
	</form>
	
	
	<script type="text/javascript">
	  (function() {
	  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
	  var actions = document.getElementsByName('action_remove');
	  if (actions.length) {
	  actions[0].addEventListener("click", function(e) {
	  if (! confirm(message)) {
	  e.preventDefault();
	  }
	  });
	  }
	  })();
	  
	</script>
      </fieldset>
      <fieldset class="account-option" id="test-grid">
	<legend>Some other shit</legend>
	<p>LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? LOREM IPSUM ? </p>
      </fieldset>
  </div>
</div>
