/* Account - /map.html */

#account {
    height: 99.2%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "account-content";
}

#account-content {
    overflow-y: auto;
    grid-area: account-content;
    margin-top: 11.5px;
    max-width: 700px;
    justify-self: center;
    /*display: grid;
      grid-template-columns: auto;
      grid-template-rows: .20fr .20fr .20fr;
      grid-template-areas:
      "change-password"
      "change-email"
      "add-email"
      "test-grid";*/
}

.extraneous-button {
    line-height: 3em;
}

.extraneous-logo {
    height: 2em;
    align-self: center;
    padding-left: 10px;
}
.extraneous-button:last-child:hover {
    background-color: #8bc5ff;
    color: #1d1d5c;
}

#extraneous-logo-container {
    grid-area: extraneous-logo-container;
    justify-self: center;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #8bc5ff;
    border: 2px solid #1d1d5c;
    align-self: center;
    height: 2.3em;
}

#extraneous-home {
    grid-area: extraneous-home;
}

#extraneous-logout {
    grid-area: extraneous-logout;
}

#extraneous-logo-container .regular-button {
    background: transparent;
    padding: 0 10px 0 5px;
    line-height: 2.3em;
}


.account-option {
    margin: 0;
    margin-top: 10px;
}

#extraneous-navigation {
    padding: 0;
    margin-top: 0;
    border: 2px solid rgb(29, 29, 92);
    background-color: white;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
    "extraneous-home extraneous-logo-container extraneous-logout";
}

#test-grid {
    grid-area: test-grid;
}

#change-password {
    grid-area: change-password;
}

#change-email {
    grid-area: change-email;
}

#add-email {
    grid-area: add-email;
}

.account-option {
    margin: 0 8px 8px 0;
}

.account-form p {
    margin: 5px;
}

#change_password_form, #div_id_email {
    margin-top: 12px;
}

#div_id_email {
    display: inline-block;
}

#div_id_email div {
    display: inline-block;
}

#logo {
    grid-area: logo;
    align-self: center;
    justify-self: right;
    width: 40px;
    height: 30px;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
