/* Nav - /map.html */

.nav-button {
    font-weight: 600;
    line-height: 40px;
    color: #1d1d5c;
    padding: 0 25px;
    /* transition: none; */
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.nav-button:hover  {
    color: #fff;
    background-color: #1d1d5c;
}


nav {
    grid-area: nav;
    justify-self: center;
    /*width: 100%;*/
    background-color: white;
    display: grid;
    border: 2px solid rgb(29, 29, 92);
    z-index: 1;
    box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.17);
    grid-template-columns: auto auto auto 1fr auto 1fr auto auto;
    grid-template-areas:
    "options-button map-button results-button . home-button . logout-button help-button account-button";
}

#account-button {
    grid-area: account-button;
}

#options-button {
    grid-area: options-button;
}

#map-button {
    grid-area: map-button;
}

#results-button {
    grid-area: results-button;
}

#help-button {
    grid-area: help-button;
}

.active-button {
    color: #fff;
    background-color: #1d1d5c;
}
