<nav class="bar">
  <span id="options-button" data-view="options" class="toggable-nav-button nav-button active-button">Options</span>
  <span id="map-button" data-view="ol-viewport" class="toggable-nav-button nav-button">Map</span>
  <span id="results-button" data-view="results" class="toggable-nav-button nav-button">Results</span>
  <span id="help-button" data-view="help" class="toggable-nav-button nav-button">Help</span>
  <a id="account-button" data-view="account" class="toggable-nav-button nav-button">Account</a>
</nav>
