/* Main Content - /password_reset.html */
body {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-areas:
    "nav"
    "main"
    "footer";
}

#main {
    padding: 0 50px 0 50px;
    text-align: center;
    display: grid;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    grid-area: main;
    max-width: 1140px;
    justify-self: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "password_reset";
    align-content: center;
}

#password_reset {
    grid-area: password_reset;
    padding: 0 50px 0 50px;
}

#main p, #main form label {
    color: #525f71;
}

#div_id_email * {
    display: inline-block;
}

#div_id_email {
    margin: 5px;
}

h1 {
    padding: 0;
    margin-top: 15px;
}

.button {
    font-family: Souvenir, Open Sans, Segoe UI, sans-serif;
    color: #7795f8;
    background-color: #FFF;
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    box-shadow: 0 2px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    border-radius: 1px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    text-decoration: none;
    display: inline-block;
    transition: all ease .15s;
    border: none;
    margin-top: 8px;
    width: 100%;
}

.button:hover {
    transform: translate(0, -5%);
    box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
    cursor: pointer;
}

.button a {
    text-decoration: none;
    color: inherit;
}
