{% load staticfiles %}
<!DOCTYPE html>
<html LANG="EN">
    <head>
      <title>
	{% block title %} Magi Maps {% endblock title %}
      </title>
      <noscript><!-- Do nothing --></noscript>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
      <link rel="shortcut icon" href="{% static 'images/favicons/favicon.ico' %}" sizes="any" type="image/svg+xml"/>
      <style>
	{% include 'pages/global/css/fonts.css' %}
	{% include 'pages/global/css/defaults.css' %}
	{% block css %}
	{% endblock css %}
      </style>
      {% block head %}{% endblock head %}
    </head>
    <body>
      {% block content %}{% endblock content %}
      {% block footer %}{% endblock footer %}
    </body>
</html>
