{% load staticfiles %}
<!-- global navbar -->
<nav class="nav" id="nav">
  <div class="nav-button-container">
    <a class="nav-button logo" href="{% url 'home' %}" accesskey="a"><img id="logo" src="{% static 'images/logo.svg' %}" width="76" height="77" alt="Magi Maps">Magi Maps</a>
    <a class="developers-nav nav-button not-mobile" href="demo" accesskey="c">Contact</a>
    <a class="company-nav nav-button not-mobile" href="{% url 'about' %}" accesskey="d">About</a>
    <a class="nav-button signin-nav not-mobile" href="{% url 'map' %}" accesskey="g">Account  &raquo;</a>
    <a class="nav-button burger" id="burger-button" accesskey="5"><img id="burger-button-img" src="{% static 'images/burger.svg' %}" width="76" height="77" alt="Burger Bar"></a>
    <div id="burger-menu">
      <p class="medium"><a href="{% url 'map' %}">Account  &raquo;</a></p>
      <p class="medium"><a href="{% url 'about' %}">About</a></p>
      <p class="medium"><a href="demo">Contact</a></p>
    </div>
  </div>
</nav>
