 /* Global Navigation Bar / navbar */
.nav {
    background-color: #fff;
    grid-area: nav;
    display: grid;
    height: 50px;
    padding-top: 10px;
    width: 100%;
    z-index: 1000;
    grid-template-areas:
    "nav-button-container"
}

.nav-button-container {
    max-width: 1140px;
    width: 100%;
    display: grid;
    justify-self: center;
    grid-area: nav-button-container;
    grid-template-columns: auto 2fr .6fr auto auto;
    grid-template-areas:
    "logo-nav . . developers-nav company-nav signin-nav"
}

.nav-button {
    font-weight: 500;
    line-height: 40px;
    color: #1d1d5c;
    padding: 0 25px;
    transition: all .1s ease;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
}

.logo {
    grid-area: logo-nav;
    padding-left: 20px;
    z-index: 500;
}

.logo img {
    transition: all .5s ease; /* Stops logo from going
				 uncomfortably fast */
    float: left;
    margin-right: 10px;
}

.products-nav {
    grid-area: products-nav;
}

.developers-nav {
    grid-area: developers-nav;
}

.company-nav {
    grid-area: company-nav;
}

.pricing-nav {
    grid-area: pricing-nav;
}

.support-nav {
    grid-area: support-nav;
}

.signin-nav {
    grid-area: signin-nav;
    padding-right: 20px;
}

.burger {
    grid-area: burger;
    display: none;
}

.nav-button:hover, .logo img:hover {
    /*color: rgba(255,255,255,0.5);*/
    opacity: 0.5;
}

#burger-menu {
    display: none;
    z-index: 1;
    color: #32325d;
}

#burger-menu p {
    font-size: 1.7214em;
    text-align: center;
}

#burger-menu > .medium > a {
    text-decoration: none;
    color: #32325d;
}



/* End Navigation Bar / navbar */
