/* Results - /map.html */

.results-before {
    background-color: white;
    padding: 10px;
    color: #1d1d5c;
    display: grid;
    border: 2px solid rgb(29, 29, 92);	
    margin-top: 11.5px;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
}

.results-loaded {
    height: 97.5%;
    width: 100%;
    display: grid;
    margin-top: 11.5px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "results-table";
}

#results-table {
    grid-area: results-table;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: .03fr auto;
    grid-template-areas:
    "thead"
    "tbody";
}

#results-table thead {
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
    margin-bottom: 10px;
    background-color: white;
    display: grid;
    grid-area: thead;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "thead-tr";
}

#results-table thead tr {
    grid-area: thead-tr;
    display: flex;
    overflow-y: scroll;
    border: 2px solid rgb(29, 29, 92);
}

#results-table thead th {
    flex: 1;
    text-align: left;
    border-right: solid 2px #b3b3b3;
    color: #1d1d5c;
}

#results-table thead th span:hover {
    opacity: 0.5;
    cursor: pointer;
    color: #1d1d5c;
}

#results-table tbody {
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
    background-color: white;
    grid-area: tbody;
    display: grid;
    grid-template-rows: auto;
    border: 2px solid rgb(29, 29, 92);
    max-height: 100%;
    -webkit-max-logical-height: 86.5vh;
    overflow-y: scroll;
}

#results-table tbody tr {
    display: flex;
}

#results-table tbody tr:nth-child(2n) {
    background-color: #f2f2f2;
}

#results-table tbody tr:hover {
    background-color: #ccc;
    cursor: pointer;
}

#results-table tbody tr td {
    border: solid 0.5px #b3b3b3;
    flex: 1;
}

#results-table thead tr th {
    text-transform: capitalize;
}
