/* Global Viewports */
@media(max-width: 1140px) {
    .nav {
	max-width: 100vw;
    }
    
    .nav-button {
	font-weight: 600;
	padding: 0 20px;
    }
    
    .intro {
	text-align: center;
	margin: auto;
	padding-top: 0;
	padding-bottom: 0;
	grid-template-columns: 1fr;
	grid-template-areas:
	"intro-article"
	"computer-box";
    }
    
    .computer-box {
	position: relative;
	top: -30px;
    }
    
    .intro-article {
	padding: 20px;
	margin: auto;
    }
    
    h1 {
	text-align: center;
	width: auto;
	max-width: unset;
	padding-top: 0;
    }
    
    .intro-article .large-bold, .intro-article p {
	margin: auto;
    }
    
    .intro-article p {
	font-size: 1.2em;
	margin-top: .67em;
	margin-bottom: .67em;
    }
    
    .button {
	padding: 0 25px;
	line-height: 60px;
	height: 60px;
	font-size: 25px;
    }
    
    .benefits {
	margin-right: 20px;
	margin-left: 20px;
    }

@media(max-width: 988px) {
    
    .button {
	display: block;
	margin-right: 0;
	margin-bottom: 40px;
    }
    
    .intro {
	padding-bottom: 0;
    }
    
    .intro-article {
	position: relative;
	top: 0;
	margin: 0 40px 30px 40px;
	text-align: center;
	margin: auto;
    }
    
    .logo {
	padding-left: 10px;
    }
    
    .benefits {
	margin: 0;
	justify-items: center;
	grid-template-columns: 1fr;
	grid-template-areas:
	"benefit-1"
        "learnmore-button-1"
        "benefit-2"
        "learnmore-button-2"
        "benefit-3"
        "learnmore-button-3";
    }
    
    .benefits > * {
	width: calc(100vw - 80px);
	margin: 0;
	text-align: center;
    }
    
    .benefits > * > .medium-bold {
	font-size: 1.714em;
	padding: 0 10px;
    }
    
    .learnmore-button, .button {
	margin: 0 auto 20px auto;
	width: calc(100vw - 80px);
	padding: 0;
    }
    
    .comparison {
	margin-top: 0;
    }
    
    footer {
	grid-template-columns: 1fr;
	grid-template-areas:
	"footer-header"
        "footer-seperator"
        "footer-links"
        "copyright";
    }
    
    .footer-links {
	width: calc(100vw - 80px);
    }
}

@media (max-width: 558px) {
    .nav-button-container{
	grid-template-areas:
	"logo-nav . burger"
    }
    
    .not-mobile {
	display: none;
    }
    
    #burger-button {
	right: 0;
	display: inline-block;
	position: absolute;
	top: -30px;
	height: 60px;
	padding: 40px;
	padding-right: 5px;
    }
	
    .open {
	display: block;
    }
    
    #burger-menu.open {
	display: block;
	position: absolute;
	background-color: #fff;
	width: 100%;
	top: 60px;
    }
    
    .burger img {
	height: 40px;
    }
    
    .nav-button {
	text-align: start;
    }
    
    .computer-box {
	display: none;
    }
	
}

@media (max-width: 448px) {
    .intro-article {
	padding: 0;
    }
    .intro-article p {
	margin: 10px;
    }
    .button {
	width: 100%;
    }
    .benefit-1, .benefit-2, .benefit-3 {
	width: initial;
    }
}

@media (max-width: 286px) {   
    #burger-button-img {
	display: none;
    }
}

/* End Viewports */

/*

*/
