/* Global Defaults */
* {
    transition: all 0.1s ease 0s;
}

html {
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #8bc5ff;
    font-size: 1.214em;
    font-weight: 400;
    font-family: Souvenir, Open Sans, Segoe UI, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    margin: 0;
    padding: 0;
    display: grid;
}

h1 {
    max-width: 420px;
    font-size: 2.118em;
    line-height: 50px;
    padding-top: 50px;
    color: #1d1d5c;
    font-weight: 400;
}

.large-bold {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-top: .67em;
    margin-bottom: .67em;
}

.medium-bold {
    display: block;
    font-size: 1.214em;
    font-weight: bold;
    margin-top: .83em;
    margin-bottom: .83em;
}

.medium {
    display: block;
    font-size: 1.529em;
    font-weight: normal;
    margin-top: .83em;
      margin-bottom: .83em;
}

.small-bold{
    display: block;
    font-size: 1.00em;
    font-weight: bold;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
}

.button {
    color: #7795f8;
    background-color: #FFF;
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border-radius: 1px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .025em;
    text-decoration: none;
    display: block;
    transition: all ease .15s;
}
/* End Defaults */
