{% load staticfiles %}
/* Global Fonts */
@font-face {
    font-family: 'Souvenir';
    src: url('{% static 'fonts/souvenir-light-webfont.eot' %}');
    src: url('{% static './fonts/souvenir-light-webfont.eot?#iefix' %}') format('embedded-opentype'),
    url('{% static './fonts/Souvenir-Light.ttf' %}') format('truetype'), 
    url('{% static './fonts/souvenir-light-webfont.woff2' %}') format('woff2'),
    url('{% static './fonts/souvenir-light-webfont.woff' %}') format('woff'),
    url('{% static './fonts/souvenir-light-webfont.svg#Souvenir' %}') format('svg');
}
@font-face {
    font-family: 'Souveniritalic';
    src: url('{% static './fonts/souvenir-lightitalic-webfont.eot' %}');
    src: url('{% static './fonts/souvenir-lightitalic-webfont.eot?#iefix' %}') format('embedded-opentype'),
    url('{% static './fonts/Souvenir-LightItalic.ttf' %}') format('truetype'), 
    url('{% static './fonts/souvenir-lightitalic-webfont.woff2' %}') format('woff2'),
    url('{% static './fonts/souvenir-lightitalic-webfont.woff' %}') format('woff'),
    url('{% static './fonts/souvenir-lightitalic-webfont.svg#Souveniritalic' %}') format('svg');
}
/* End Fonts */
