/* Copyright (C) 2008 Bernhard Gruenewaldt
   All rights reserved.

   This software is licensed as described in the file COPYING, which
   you should have received as part of this distribution.
*/

.notebox-warn {
 background-color: #FFDDDD;
 background-image: url(../warning.png);
 border: 1px solid red;
}
.notebox-tip {
 background-color: #DDFFDD;
 background-image: url(../tip.png);
 border: 1px solid green;
}
.notebox-note {
 background-color: #EEEEFF;
 background-image: url(../note.png);
 border: 1px solid #4B82FF;
}
.notebox-base, .notebox-warn, .notebox-note, .notebox-tip {
 -moz-border-radius-bottomleft: 20px;
 -moz-border-radius-bottomright: 20px;
 -moz-border-radius-topleft: 20px;
 -moz-border-radius-topright: 20px;
 background-position: 20px 50%;
 background-repeat: no-repeat;
 border-collapse: collapse;
 margin: 2em;
 min-height: 40px;
 padding: 15px 20px 15px 80px;
 text-align: justify;
 vertical-align: middle;
}
