@font-face{
    font-family:Souvenir;
    font-weight:300;
    src:url(../fonts/Souvenir-Light.ttf) format('ttf');
}
@font-face{
    font-family:Souvenir;
    font-weight:300;
    font-style:italic;
    src:url(../fonts/Souvenir-LightItalic) format('ttf');
}
@font-face{
    font-family:Souvenir;
    font-weight:500;
    url(../fonts/Souvenir-Demi.ttf) format('ttf');
}
@font-face{
    font-family:Souvenir;
    font-weight:500;
    font-style:italic;
    url(../fonts/Souvenir-DemiItalic.ttf) format('ttf');
}
