/* Map - /map.html */

.map {
    grid-area: map;
    height: 93.5vh;
}


/* Father forgive me, for I have !important'ed -- OL doesn't make this easy */
.ol-zoom-in, .ol-zoom-out, .ol-zoom-extent button {
    color: #1d1d5c !important;
    background-color: #fff !important;
    font-family: Souvenir;
    border: 2px solid rgb(29, 29, 92) !important;
    width: 2.375em !important;
    height: 2.375em !important;
}

.ol-control button:focus, .ol-control button:hover {
    background-color: rgb(29, 29, 92) !important;
    color: white !important;
    cursor: pointer;
}

.ol-zoom-extent {
    top: 9.643rem !important;
}
    

#ol-viewport {
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
    height: 97.6% !important;
    width: initial !important;
    margin-top: 11.5px;
    /*display: grid;*/
    border: 2px solid rgb(29, 29, 92);
    /*grid-template-rows: auto;
      grid-template-columns: auto;
      grid-template-areas:
      "canvas";*/
}

canvas {
    grid-area: canvas;
    height: 100%;
    width: 100%;
    background-color: white;
}

