{% load staticfiles %}
<!-- /index.html content -->
<main class="main" id="main">
  <section class="intro">
    <div class="intro-article">
      <h1>Location Search Engine</h1>
      <p>Using open data from the US government and
	academic insitutions, you can now find all
	the places with exactly the qualities you're
	looking for.
	</p>
      <a class="getstarted-button button" href="map" accesskey="h">GET STARTED</a>
      <a class="fulldemo-button button" href="/" accesskey="i">TRY THE DEMO</a>
    </div>
    <div class="computer-box">
      <img class="computer" src="{% static 'images/computerSimple.svg' %}" width="487" height="401" alt="A desktop monitor. It holds the map preview.">
    </div>
  </section>
  <section class="benefits">
    <div class="benefit-1">
      <span class="medium-bold">Prospective Homeowners</span>
      <p>Just looking around? No problem, try
	out the main attraction immediately.
	No nonsense. Just a map where you can
	narrow down locations based on any
	specific qualities you choose.
      </p>
    </div>
    <a class="learnmore-button button num1" href="map"  accesskey="j">LEARN MORE</a>
    <div class="benefit-2">
      <span class="medium-bold">Real Estate Professionals</span>
      <p>Looking for the technicals? You're in luck.
	The documentation includes: a quick-start guide,
	how to extend the app, operation challenges,
	and links to the source code and data.
      </p>
    </div>	
    <a class="learnmore-button button num2" href="documentation" accesskey="k">LEARN MORE</a>
    <div class="benefit-3">
      <span class="medium-bold">GIS Developers</span>
      <p>After restructuring the website for a
	new use case, I can't make myself get
	rid of this last square; It really
	ties everything together. So this
	button just leads to the about page.
      </p>
    </div>
    <a class="learnmore-button button num3" href="about" accesskey="l">LEARN MORE</a>
  </section>
</main>
