/* Main Content - /index.html */
body {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-areas:
    "nav"
    "main"
    "footer";
}

.main {
    display: grid;
    grid-area: main;
    max-width: 1140px;
    justify-self: center;
    grid-template-columns: 20px 1fr 20px;
    grid-template-areas:
    ". intro ."
    ". benefits ."
    ". comparison ."
    ". doing-1 .";
}

.intro {
    justify-self: center;
    padding-top: 36px;
    padding-bottom: 90px;
    display: grid;
    grid-template-columns: auto 90px auto;
    grid-area: intro;
    grid-template-areas:
    "intro-article . computer-box";
}

.intro-article {
    grid-area: intro-article;
    margin: 0;
}

.intro-article p {
    color: #5e6d89;
    line-height: 26px;
    padding-bottom: 39px;
}

.computer-box {
    grid-area: computer-box;
    padding: 59px 0 0;
}

.computer {
    position: relative;
    margin: auto;
}

.shadow {
    top: 160px;
    height: 121%;
    opacity: .3;
    background: #7692b3;
    filter: blur(30px);
    display: block;
    position: relative;
    width: 600px;
}

.comparison {
    margin-top: 170px;
    grid-area: comparison;
    display: grid;
    justify-items: normal;
    grid-template-columns: 1fr 12px 1fr;
    grid-template-areas:
    "comparison-header comparison-header comparison-header"
    "comparison-without . comparison-with";
}

.comparison header {
    grid-area: comparison-header;
    padding-top: 85px;
    padding-bottom: 65px;
}

.comparison header .large-bold {
    color: #32325d;
    margin: 0;
    text-align: center;
}

.comparison header .large-bold:nth-child(2) {
    color: #FFF
}

.without {
    border-radius: 4px;
    background: #FFF;
    grid-area: comparison-without;
}

.without .medium-bold {
    margin: 0;
    color: #525f7f;
    background: #f4f8fb;
    padding: 11px 0;
    text-align: center;
    border-radius: 4px 4px 0 0;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: .025em;
}

.without p {
    margin: 38px 40px;
    font-weight: 400;
    line-height: 26px;
    color: #6b7c93;
}

.with {
    border-radius: 4px;
    background: #FFF;
    grid-area: comparison-with;
}

.with p {
    margin: 38px 40px;
    font-weight: 400;
    line-height: 26px;
    color: #6b7c93;
}

.with .medium-bold {
    margin: 0;
    color: #24b47e;
    background: #f4f8fb;
    padding: 11px 0;
    text-align: center;
    border-radius: 4px 4px 0 0;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: .025em;
}

.doing-1 {
    padding-top: 400px;
    display: grid;
    grid-area: doing-1;
    grid-template-columns: 1fr 50px 1fr 1fr;
    grid-template-areas:
    ". . doing-1-header doing-1-header"
    "doing-1-intro . doing-1-body doing-1-body"
}

.doing-1 span {
    grid-area: doing-1-header;
    text-align: left;
    margin-bottom: 20px;
    color: #32325d;
    font-weight: 600;
    letter-spacing: .025em;
    font-size: 22px;
    line-height: 33px;
}

.doing-1 .intro-title {
    grid-area: doing-1-intro;
    text-align: right;
    font-size: 26px;
    line-height: 39px;
    color: #3ecf8e;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.doing-1 .body {
    grid-area: doing-1-body;
    font-weight: 400;
    line-height: 26px;
    color: #6b7c93;
    margin: 0;
    padding: 0;
}

.getstarted-button {
    color: #980909;
    background-color: #e70e0e;
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    border-radius: 1px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    text-decoration: none;
    transition: all ease .15s;
    margin-right: 20px;
    display: inline-block;
}

.getstarted-button:hover, .fulldemo-button:hover, .learnmore-button:hover {
    transform: translate(0, -5%);
    box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
}

.learnmore-button:hover, .fulldemo-button:hover {
    color: rgb(231, 14, 14);
}

.fulldemo-button {
    color: #7795f8;
    background-color: #FFF;
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    border-radius: 1px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    text-decoration: none;
    display: inline-block;
    transition: all ease .15s;
}

.benefits {
    grid-area: benefits;
    display: grid;
    grid-template-areas:
    "benefit-1 benefit-2 benefit-3"
    "learnmore-button-1 learnmore-button-2 learnmore-button-3";
}

.benefits .medium-bold {
    color: #32325d;
    text-align: center;
}

.benefits p { 
    color: #525f71;
    margin: 0 20px 10px 20px;
}

.benefit-1 {
    grid-area: benefit-1;
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    margin-right: 20px;
    background-color: #fff;
}

.benefit-2 {
    grid-area: benefit-2;
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    margin-right: 20px;
    background-color: #fff;
}

.benefit-3 {
    grid-area: benefit-3;
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    background-color: #fff;
}

.learnmore-button {
    border-top: 2px solid #f6f6f6b3;
}

.num1 {
    grid-area: learnmore-button-1;
    margin-right: 20px;
}

.num2 {
    grid-area: learnmore-button-2;
    margin-right: 20px;
}

.num3 {
    grid-area: learnmore-button-3;
}

/* End Main Content */
