{% extends 'pages/main/base_main.html' %}
{% block title %}
{{ block.super }} | Reset Password
{% endblock title %}
{% block css %}
{{ block.super %}}
{% include 'pages/resources/signup.html/signup.html.css' %}
{% endblock css %}
{% block head %}
<meta name="description" content="Magi Maps, the real estate visualizer that's quick and easy to use. Gain valuable insights on any location in the U.S without wasting time.">
{% endblock head %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block extended_content %}

<div id="main">

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

{% endblock extended_content %}
