<fieldset id="extra-options-state" class="extra-options option-fieldset" style="display: inline-block;">
  <legend>State Info</legend>
  <span class="extra-options-header">Government </span>
  <label>Police Stations: <select data-sql="police_stations" name="area-select" selected="null" placeholder="" value="" onchange="resizeOptionDropdown(this)";>
      <option value="null" selected=""></option>
      <option value="PropertyIsGreaterThan">Greater than (#)</option>
      <option value="PropertyIsLessThan">Less than (#)</option>
    </select>
    <input type="number" data-sql="police_stations" onchange="" data-type="number">
  </label>
  <label>Fire Stations: <select data-sql="fire_stations" selected="null" name="area-select" placeholder="" value="" onchange="resizeOptionDropdown(this)">
      <option value="null" selected=""></option>
      <option value="PropertyIsGreaterThan">Greater than (#)</option>
      <option value="PropertyIsLessThan">Less than (#)</option>
    </select>
    <input type="number" data-sql="fire_stations" value="" onchange="" data-type="number">
  </label>
</fieldset>
