<fieldset id="extra-options-nation" class="extra-options option-fieldset hidden" style="display: inline-block;">
  <legend>Nation Info</legend>
  <span class="extra-options-header">Government </span>
  <label>Police Stations: <select data-sql="police_stations" name="area-select" placeholder="" value="" selected="null" onchange="resizeOptionDropdown(this)";>
      <option value="null" selected=""></option>
      <option value="nation">Total</option>
    </select>
    <input data-type="nation">
  </label>
  <label>Fire Stations: <select data-sql="fire_stations" name="area-select" placeholder="" value="" selected="null" onchange="resizeOptionDropdown(this)">
      <option value="null" selected=""></option>
      <option value="nation">Total</option>
    </select>
    <input data-type="nation">
  </label>
</fieldset>
