<fieldset id="main-options" class="option-fieldset" style="display: inline-block;">
  <legend>Specificity</legend>
  <select id="main-level-select" name="area-select">
    <option value="nation">Nation</option> 
    <option value="state" selected="">States</option>
    <option value="county">Counties</option>
    </select>
</fieldset>
