/* Options - /map.html */

#options {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    /* Don't touch this fucking 0, or else chrome will break */
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "main-options submit-options"
    "supp-options extra-options"
    "supp-options extra-options"
    ;
}

.option-fieldset {
    overflow: hidden;
    -webkit-overflow-y: hidden;
}

.option-fieldset > form {
    overflow-y: auto;
    height: 100%;
    width: 108%;
}

.option-fieldset legend {
    /* Fix webkit top-border messup */
    -webkit-border-before-width: 4px;
}

#main-options {
    grid-area: main-options;
    margin-left: 0;
}
#supp-options {
    grid-area: supp-options;
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: 8px;
/*    width: 160px;   *Remove if New Hampshire gets split*    */
}

#supp-options > form {
    margin-bottom: 10px;
}

.extra-options-active {
    grid-area: extra-options;
    margin-bottom: 8px;
    margin-left: 15px;
    margin-right: 0;
    margin-top: 8px;
}

.extra-options-header {
    display: block;
    background-color: #1d1d5c;
    color: #fff;
    font-weight: 600;
    padding: 2px 2px 2px 5px;
}

.extra-options > label > input {
    display: none;
    width: 100px;
}


#supp-options > form > label {
    display: block;
}


.extra-options > label {
    display: inline-block;
    padding-left: 5px;
    padding-top: 5px;
}

#submit-options {
    grid-area: submit-options;
    margin-left: 15px;
    margin-right: 0;
    margin-top: 0.75rem;
    line-height: 3em;
    padding: 0;
    background-color: white;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
}

/* Work-around for chrome's broken grid system */
#submit-options-container {
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: right;
    grid-template-rows: 100%;
    grid-template-columns: min-content min-content;
}

#submit-options .regular-button {
    line-height: 3em;
    color: #fff;
    background-color: #1d1d5c;
}

#goto-select {
    display: inline-block;
    font-weight: 600;
    line-height: 3em;
    color: #1d1d5c;
    padding: 0 5px;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: min-content min-content;
}

#goto-select .submit-select {
    align-self: center;
    margin-left: 10px;
}
