<fieldset id="submit-options">
  <div id="submit-options-container">
    <label id="goto-select">Go To: <select class="submit-select" name="submit-select" selected="results" placeholder="" value="results">
	<option value="null"></option>
	<option value="results" selected>Results</option>
	<option value="ol-viewport">Map</option>
      </select>
    </label>
    <a class="regular-button important-button" onclick="submitOptions(this);">Submit</a>
  </div>
</fiedlset>
