<fieldset id="supp-options" class="option-fieldset" style="display: inline-block;">
  <legend>Areas (<span id="areas-all"><span id="areas-selected">0</span>/52</span>)</legend>
  <form name="theForm">
    <label><input type="checkbox" name="answers[]" value="javascript">All</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Alabama</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Alaska</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Arizona</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Arkansas</label>
    <label><input type="checkbox" name="answers[]" value="javascript">California</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Colorado</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Connecticut</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Delaware</label>
    <label><input type="checkbox" name="answers[]" value="javascript">D.C</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Florida</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Georgia</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Hawaii</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Idaho</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Illinois</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Indiana</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Iowa</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Kansas</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Kentucky</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Louisiana</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Maine</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Maryland</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Massachusetts</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Michigan</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Minnesota</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Mississippi</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Missouri</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Montana</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Nebraska</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Nevada</label>
    <label><input type="checkbox" name="answers[]" value="javascript">New Hampshire</label>
    <label><input type="checkbox" name="answers[]" value="javascript">New Jersey</label>
    <label><input type="checkbox" name="answers[]" value="javascript">New Mexico</label>
    <label><input type="checkbox" name="answers[]" value="javascript">New York</label>
    <label><input type="checkbox" name="answers[]" value="javascript">North Carolina</label>
    <label><input type="checkbox" name="answers[]" value="javascript">North Dakota</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Ohio</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Oklahoma</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Oregon</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Pennsylvania</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Puerto Rico</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Rhode Island</label>
    <label><input type="checkbox" name="answers[]" value="javascript">South Carolina</label>
    <label><input type="checkbox" name="answers[]" value="javascript">South Dakota</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Tennessee</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Texas</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Utah</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Vermont</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Virginia</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Washington</label>
    <label><input type="checkbox" name="answers[]" value="javascript">West Virginia</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Wisconsin</label>
    <label><input type="checkbox" name="answers[]" value="javascript">Wyoming</label>
    <br>
  </form>
</fieldset>
