/* Main Content - /map.html */
/* Speed, baby. */
* {
    transition: none !important;
}

body {
    color: black;
    /*background-color: #8bc5ff;*/
    overflow: hidden;
    grid-template-columns: 1fr;
    grid-template-areas:
    "body-container";
}

#body-container {
    background-color: #8bc5ff;
    grid-area: body-container;
    display: grid;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    grid-template-columns: 36px 8fr 36px;
    grid-template-rows: 40px auto;
    grid-template-areas:
    ". nav ."
    ". map .";
    /* The grid areas make the "extra-options"
       jerky on a reload. "State Info" will start
       in the bottom right-hand grid, so there's
       a gap, to the right of "Specificity." And
       padding is only rendered after-load. */
}

.regular-button {
    display: inline-block;
    font-weight: 600;
    line-height: 40px;
    color: #1d1d5c;
    padding: 0 25px;
    white-space: nowrap;
    background-color: white;
    text-decoration: none;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.regular-button:hover {
    color: #fff;
    background-color: #1d1d5c;
}

legend {
    color: #1d1d5c;
}

.hidden {
    display: none !important;
}

.form-group {
    padding-top: 5px;
}

fieldset {
    border: 2px solid rgb(29, 29, 92);
    background-color: white;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
}

legend {
    font-weight: 600;
    background-color: white;
    border: 2px solid rgb(29, 29, 92);
    border-radius: 3px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.important-button:hover {
        background-color: #e70e0e !important;
	color: #980909 !important;
}

.disabled-button {
    background-color: inherit !important;
    color: #1d1d5c !important;
    cursor: initial !important;
}

.disabled-button:hover {
    background-color: inherit !important;
    color: #1d1d5c !important;
}
    
