{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
{{ block.super }} | Main App
{% endblock title %}
{% block css %}
{% include './nav/nav.css' %}
{% include './options/options.css' %}
{% include './map.html.css' %}
{% include './map/map.css' %}
{% include './results/results.css' %}
{% include './help/help.css' %}
{% include './account/account.css' %}
{% include './viewports.css' %}
{% endblock css %}
{% block head %}
<meta name="description" content="Magi Maps main webapp page. Here lives the beating heart of the whole operation.">
{% include 'pages/app/resources/openlayers/ol.html' %}
{% endblock head %}
{% block content %}
<div id="body-container">
  {% include './nav/nav.html' %}
  <div id="map" class="map">
    {% include './options/options.html' %}
    {% include './results/results.html' %}
    {% include './help/help.html' %}
    {% include './account/account.html' %}
  </div>
</div>
<div id="info">
<script src="{% static 'templates/pages/app/resources/openlayers/ol.js' %}"></script>
<script src="{% static 'templates/pages/app/map.html/map.html.js' %}"></script>
{% endblock content %}
