/* Viewports - /map.html */
@media(max-width: 1140px) {
    body, .main {
	display: unset;
    }
    
    .nav {
	max-width: 100vw;
    }
    
    .nav-button {
	font-weight: 600;
	padding: 0 20px;
    }
    
@media(max-width: 840px) {
    .nav-button-container{
	grid-template-areas:
	"logo-nav . burger"
    }
    
    .not-mobile {
	display: none;
    }
    
    #burger-button {
	right: 0;
	display: inline-block;
	position: absolute;
	top: -30px;
	height: 60px;
	padding: 40px;
	padding-right: 5px;
    }
    
    .open {
	display: block;
    }
    
    #burger-menu.open {
	display: block;
	position: absolute;
	background-color: #fff;
	width: 100%;
	top: 60px;
    }
    
    .burger img {
	height: 40px;
    }
    
    .nav-button {
	text-align: start;
    }

    .logo {
	padding-left: 10px;
    }
}
/* End Viewports */
