{% extends 'pages/main/base_main.html' %}
{% block title %}
{{ block.super }} | Sign In
{% endblock title %}
{% block css %}
{% include './signup.html.css' %}
{{ block.super }}
{% endblock css %}
{% block head %}
<meta name="description" content="Magi Maps, the real estate visualizer that's quick and easy to use. Gain valuable insights on any location in the U.S without wasting time.">
{% endblock head %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block extended_content %}

<div id="main">
  <div id="signin">
  <h1>{% trans "Sign In" %}</h1>

  
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="primaryAction btn btn-primary button" type="submit">{% trans "Sign In" %} &raquo;</button>   
  </form>
  <form method="link" action="{% url 'account_reset_password' %}">
    <button class="button" type="submit">Forgot Password?</button>
  </form>
</div>
<div id="signup">
  <h1>{% trans "Sign Up" %}</h1>
  
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ signupform.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="button" type="submit">{% trans "Sign Up" %} &raquo;</button>
  </form>
</div>
</div>

{% endblock extended_content %}
