/* Main Content - /signup.html */
body {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-areas:
    "nav"
    "main"
    "footer";
}

#main {
    padding: 0 50px 0 50px;
    text-align: center;
    display: grid;
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    grid-area: main;
    max-width: 1140px;
    justify-self: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "signin signup";
    align-content: center;
}

#signin {
    grid-area: signin;
    border-right: 2px solid #1d1d5c;
    padding-right: 50px;
    padding-left: 50px;
}

#div_id_login *, #div_id_password * {
    display: inline-block;
}

#div_id_login, #div_id_password {
    text-align: right;
    margin: 5px;
}

#signup {
    grid-area: signup;
    padding-left: 50px;
    padding-right: 50px;
}

#main p, #main form label {
    color: #525f71;
}

form {
    margin-bottom: 2px;
}

#signup_form {
    text-align: right;
}

#signup_form button {
    text-align: center;
}

#main form p {
    margin: 5px;
}

h1 {
    padding: 0;
    margin-top: 15px;
}

.button {
    font-family: Souvenir, Open Sans, Segoe UI, sans-serif;
    color: #7795f8;
    background-color: #FFF;
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    box-shadow: 0 2px 6px rgba(50,50,93,.11),0 1px 3px 1px rgba(0,0,0,.08);
    border-radius: 1px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    text-decoration: none;
    display: inline-block;
    transition: all ease .15s;
    border: none;
    margin-top: 6px;
    width: 100%;
}

.button:hover {
    transform: translate(0, -5%);
    box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
    cursor: pointer;
    color: #d00e0e; /* -- Maybe -- */
}

.button a {
    text-decoration: none;
    color: inherit;
}
